<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddressChooseTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38128BB11D1023B000EDA11D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38128BCA1D1023B000EDA11D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38128BD51D1023B000EDA11D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
